[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
flake8 = "*"
mccabe = "*"
pyflakes = "*"
rope = "*"

[packages]
dotenv = "*"
python-dotenv = "*"
requests = "*"
pymongo = "*"
pyrogram = "*"
tgcrypto = "*"
apscheduler = "*"

[requires]
python_version = "3.8"
